<!DOCTYPE html>
<html lang="en">
<% let title =  `Capnin: ${productInformation.name}`%> 
<%- include('./utils/__head.ejs',{"title":title,"cssPath":"../css/product.css"})%>
<%- include('./utils/__card_style.ejs') %> 
<body >
    <%- include("./utils/__nav.ejs") %>
    <div class="product-page-wrapper">
        <div class="product-breadcrumbs">
            <a href="/">HOME</a> /
            <span id="current"><%= productInformation.name.toUpperCase() %></span>
        </div>
        <main class="product-main-grid">
            <div class="imageCollection">
                <div class="selectImage" style="height: 500px;" >
                <img src="<%= productInformation.image_url[0] %> " alt="<%= productInformation.shortDescription %>" style="max-height: 500px;">
            </div>
            <div class="imageSeleter">
                <% productInformation.image_url.forEach((image,index) => { %>
                    <div class="seletivelyImage" id='<%= index%>' onclick="showInLarge(this.id)" onmouseover="showInLarge(this.id)">
                        <img src="<%= image %> " alt="A seletively  product">
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="productDescription">
            <div class="productInformation">
                <h1 class="heading"><%= productInformation.name %> </h1>
                <p class="subheading">
                    <%= productInformation.shortDescription %> 
                </p>
            </div>
            <div class="productRedirector">
                <table>
                    <tr> 
                        <td id="price">
                            <p class="currentPrice">Rs. <%= productInformation.lowestCost %></p>
                            <p class="alert-information"></p>
                            <%  let maxCost = Math.max(...productInformation.productLinks.map(obj => obj.cost),0); %> 
                            <% if (maxCost != productInformation.lowestCost) { %>
                            <p class="highestPrice"> Rs. <%= maxCost %></p>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <% productInformation.productLinks = productInformation.productLinks.sort((a,b) => (a.cost > b.cost) ? 1 : ((b.cost > a.cost) ? -1 : 0)) %>
                            <div class="productLink">
                                <div class="custom-select-wrapper">
                                    <div class="custom-select">
                                        <div class="custom-select__trigger"><span><%= productInformation.productLinks[0].website %> </span>
                                            <div class="arrow"></div>
                                        </div>
                                        <div class="custom-options">
                                            <% productInformation.productLinks.forEach((product,index) => { %>
                                                <span class="custom-option <% if (index == 0) { %>selected<% } %>" website="<%= product.website %>" url-to-product="<%= product.link %>" product-cost="<%= product.cost %> "><%= product.website %></span>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                    
                    <tr>
                    <tr>
                        <td><button id="buynow" class="btn-submit">Buy Now</button></td>
                    </tr>
                </table>
            </div>
        </div>
        </main>
        
        <section class="product-detailed-description">
            <div class="description-container">
                <h3 class="description-heading">DESCRIPTION</h3>
                <div class="description-content">
                    <%- productInformation.description %> 
                </div>
            </div>
        </section>

        <section class="mayLike">
            <h3 class="recommended-heading">YOU WILL ALSO BE INTERESTED</h3>
            <div class="product-grid recommended-grid">
                <%- include('./utils/__card_component.ejs',{products:recommended}) %>
            </div>
        </section>
    </div>
    <%- include("./utils/__footer.ejs") %> 
</body>
<script>
    const lowestCost = "<%= productInformation.lowestCost %>";
    const cheaperWebsite = "<%= productInformation.productLinks[0].website %>";
</script>
<script src="../js/productImageController.js"></script>
</html>